{% extends "base.html" %}

{% block content %}
    <div class="container">
{#    <form class="form-horizontal-pf-align-left" role="form" method="post" action="/save">#}
{#        <div>#}
{#            <h2>P3 Vail Dev Node Status</h2>#}
{#        </div>#}
        <div>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Node</th>
                        <th scope="col">URL</th>
                        <th scope="col">IP</th>
                        <th scope="col">Claimed By</th>
                        <th scope="col">Claimed Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for node in nodes %}
                        <tr>
                            <td>{{ node.name.capitalize() }}</td>
                            {% if node.status == "up" %}
                                <td><a href="{{ node.url }}">{{ node.url }}</a></td>
                            {% else %}
                                <td><a>{{ node.url }}</a></td>
                            {% endif %}
                            <td>{{ node.ip }}</td>
                            <td>{{ node.user.capitalize() }}</td>
                            <td>{{ node.claimed_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{#    </form>#}
    </div>
{% endblock %}
