{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form class="form-horizontal-pf-align-left" role="form" method="post" action="/filter/{{ category }}">
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">#}
{#                        Add New Item#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
            <div class="col-sm-10">
                <table class="table table-hover">
                    <thead> <tr>
                    <th></th>
                        {% for attrib in attributes %}
                            <th>
                            {% if attrib != 'image' %}
                                {% if attrib in filters %}
                                    <select onchange="this.form.submit()" name="filter_{{ attrib }}" class="form-select" aria-label="select example">
                                        <option selected>{{ attrib.capitalize() }}</option>
                                        {% for f in filters[attrib] %}
                                            <option value="{{ f }}">{{ f.capitalize() }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ attrib.capitalize() }}
                                {% endif %}
                            {% endif %}
                            </th>
                        {% endfor %}
                    </tr> </thead>
                    <tbody>
                    {% for category_datum in category_data %}
                        <tr>
                            <td><img src="{{ url_for('static', filename='img/win95.jpg') }}" width="50" height="50" /></td>
                            {% for attrib in attributes %}
                                {% if attrib != 'image' %}
                                    <td>{{ category_datum[attrib] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
