{% extends "base.html" %}

{% block content %}
    <div class="container">
{#    <form class="form-horizontal-pf-align-left" role="form" method="post" action="/save">#}
        <div>
            <h2>Summary</h2>
        </div>
        <div>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in counts %}
                        <tr>
                            <td>
                                <a href="/category/{{ category.lower() }}">
                                    <img src="{{ url_for('static', filename='img/' + category.lower()) + '.png' }}"
                                         width="30" height="30"/>
                                    {{ category.capitalize() }}
                                </a>
                            </td>
                            <td>{{ counts[category] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{#    </form>#}
    </div>
{% endblock %}
