<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emulators</title>
</head>
<body>
<h1>Emulation Systems</h1>
<a href="https://www.emudeck.com/">EmuDeck</a>
<a href="https://github.com/dragoonDorise/EmuDeck">Repo</a><br>

<a href="https://batocera.org/">Batocera</a>
<a href="https://github.com/batocera-linux/batocera.linux">Repo</a><br>

<h1>Nintendo Entertainment System</h1>
<a href="https://fceux.com/web/home.html">FCEUX</a>
<a href="https://github.com/TASEmulators/fceux">Repo</a> <br>
<a href="http://0ldsk00l.ca/nestopia/">Nestopia UE</a>
<a href="https://github.com/0ldsk00l/nestopia">Repo</a><br>
<a href="https://www.mesen.ca/">Mesen</a>
<a href="https://www.github.com/SourMesen/Mesen2/">Repo</a><br>

<h1>Super Nintendo Entertainment System</h1>
<a href="https://www.snes9x.com/">SNES 9x</a>
<a href="https://github.com/snes9xgit/snes9x">Repo</a><br>

<a href="https://zsnes.com/">ZSNES</a>
<a href="https://github.com/xyproto/zsnes">Repo</a><br>

<a href="https://github.com/higan-emu/higan">Higan</a><br>

<h1>Nintendo 64</h1>
<a href="https://mupen64plus.org/">Mupen64Plus</a>
<a href="https://github.com/mupen64plus/mupen64plus-core">Repo</a><br>

<a href="https://www.pj64-emu.com/">Project64</a>
<a href="https://github.com/project64/project64">Repo</a><br>

<a href="https://www.pj64-emu.com/">Project64</a>
<a href="https://github.com/project64/project64">Repo</a><br>

<h1>GameCube</h1>
<a href="https://dolphin-emu.org/">Dolphin</a>
<a href="https://github.com/dolphin-emu/dolphin">Repo</a><br>

<h1>WiiU</h1>
<a href="https://cemu.info/">Cemu</a>
<a href="https://github.com/cemu-project/Cemu">Repo</a><br>

<h1>Switch</h1>
<a href="https://ryujinx.org/">Ryujinx</a>
<a href="https://github.com/Ryujinx/Ryujinx">Repo</a><br>

<a href="https://github.com/Nailington/Yuzu">Yuzu repo fork</a>
</body>
</html>
